.block-day {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 10%, transparent 40%, rgb(0, 0, 0) 70%), url(../image/black1.png);
    max-width: 2500px;
    margin: 0 auto;
}

.sixth-addition h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.sixth-addition p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #BABABA;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.sixth-addition div p:first-of-type {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 1;
}

.sixth-addition div {
    border-bottom: 1px solid #BABABA;
    margin-top: 20px;
}

.block-day__cloud {
    position: relative;
    width: calc(100%);
    height: auto;
    bottom: -5px;
    left: 0px;
    max-width: 2500px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .sixth-addition div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 900px) {
 .fourth-day, .fifth-day, .sixth-day{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .fourth-day-text, .fifth-day-text, .sixth-day-text{
    width: 45%;
 }
 .fourth-day-slider, .fifth-day-slider, .sixth-day-slider{
    width: 45%;
 }

 .fifth-day-text {
    order: 1;
 }

 .fifth-day-slider {
    display: flex;
    justify-content: end;
 }

 .fourth-day-slider, .sixth-day-slider{
    display: flex;
    justify-content: start;
 }

}
