.slider {
    position: relative;
    margin-top: 45px;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

/* .sliderBox {
    width: calc(100vw * 4);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
} */

/* .sliderImage {
    overflow: hidden;
    filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.671));
    position: relative;
    box-sizing: border-box;
} */

/* .sliderImage img {
    height: 100%;
} */

.sliderImage__description {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    color: #BDBDBD;
    padding: 16px;
    text-align: justify;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.459) 20%, rgba(0, 0, 0, 0.863) 85%);
    box-sizing: border-box;
    line-height: 18px;
    font-size: 14px;
}

.sliderImage__description p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 10px 0;
}

/* .sliderButton {
    margin-top: 20px;
    width: 100%;
} */

.slider__arrow {
    width: 42px;
    height: 42px;
    cursor: pointer;
    opacity: 60%;
    transition: 0.5s
}

.slider__arrow--right {
    rotate: 180deg;
}

.slider__arrow:hover {
    opacity: 100%;
}

.slider__arrow:first-child {
    margin-right: 16px;
}

@media (min-width: 600px) {
    /* .sliderBox {
        width: 1350px;
    } */
}

@media (min-width: 800px) {
    /* .sliderBox {
        width: 1700px;
    } */

    .sliderImage__description {
        font-size: 18px;
        height: 150px;
        box-sizing: border-box;
        line-height: 22px;
    }

    .sliderImage__description p {
        font-size: 25px;
    }

    .slider__arrow {
        width: 60px;
        height: 60px;
    }

}