.logo {
    height: 49.78px;
    width: 184px;
}

.logo > img {
    float: left;
    margin-right: 16.22px;
}

.logo img {
    margin-top: 4.28px;
    margin-bottom: 4.28px;
    /* filter : hue-rotate(120deg); */
    /* color: white; */

}