.bm-item {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #757575;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(0, 0, 0);
  
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  padding: 0px;
}

.bm-burger-bars {
  background: #275553;
  padding: 0;
  margin: 0;
}

/* //Кнопка закрытия */
.bm-cross-button { 
  height: 24px;
  width: 24px;
  background-color: red;
}

.bm-cross {
  background: black;
  
}

.bm-menu {
  background: rgb(255, 254, 254);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.bm-morph-shape {
  fill: #373a47;
  
}

.bm-item-list {
  color: #b8b7ad;
  
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  
}