.form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    transition: all 0.9s;
}

.form__name-number, .form__tel-date {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form label {
    width: 100%;
    margin: 0;
    padding: 0;
}

.form input {
    background-color: transparent;
}

.form input, form select {
    width: 100%;
    height: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #999999;
    border: none;
    border-bottom: 1px solid #212121;;
    background-color: transparent;
}

.form__number,  .form__date, .form__radio {
    position: relative;
}

.form  select {
    color: #727272;
}

.form__date select option {
    color: #000000;
}

.form__name-title, 
.form__number-title,
.form__tel-title, 
.form__radio-title, 
.form__date-title, 
.form__coment-title {
    width: 100%;
    margin: 35px 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
}

.form__radio label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 24px 0;
    text-align: start;   
}

.form__radio>p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #212121;
}

.form__radio input {
    border: 2px solid #275553;
    border-radius: 50%;
    font-size: 100px;
    color: #275553;
    width: 20px;
    height: 20px;
}

.form__radio label p {
    margin: 0;
    padding: 4px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.form__radio label p:last-of-type {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.form__radio label:first-of-type {
    margin-top: 10px;
}

.form__number__counter {
    font-size: 50px;
    position: absolute;
    right: 0px;
    bottom: -20px;
    color: #275553;
    font-weight: 100;
}

.form__number__counter div {
    display: inline-block;
    margin-left: 20px;
}

@media (min-width: 600px) {
    .form__name-number, .form__tel-date {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }

    .form__name-number label, .form__tel-date label {
        width: 40%;
    }

    .form__radio label div{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }

    .form__comment input{
        width: 100%;
        resize: vertical;
    }

    p.form__error-text {
        color: red;
        font-size: 14px;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 0px;
        bottom: -25px;
        font-style: italic;
    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }

}

@media (min-width: 800px) {
    .form {
        width: 45%;
    }

    .form__radio label p:last-of-type {
        flex-basis: 150px;
        text-align: end;
    }
}