.render-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .render-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }
  
  .render-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .render-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
  }

.slider {
    position: relative;
    /* left: 736px; */
    margin-top: 45px;
    transition: 0.5s
}

.sliderBox {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.sliderImage {
    /* width: 320px; */
    /* height: 320px; */
    overflow: hidden;
    filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.671));
    position: relative;
    transition: all  1.5s;
    width: 320px;
    height: 320px;
    box-sizing: border-box;
}

.sliderImage img {
    height: 100%;
}

.sliderImage__description {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 120px;
    font-style: normal;
    font-weight: 400;
    color: #BDBDBD;
    padding: 16px;
    text-align: justify;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.459) 20%, rgba(0, 0, 0, 0.863) 85%);
    box-sizing: border-box;
    line-height: 18px;
    font-size: 14px;
}

.sliderImage__description p {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 10px 0;
}

.sliderBox div:first-child {
    width: 360px;
    height: 360px;
}

.sliderButton {
    margin-top: 20px;
    width: 100%;
    /* text-align: center; */
}

.sliderButton button {
    width: 42px;
    height: 42px;
    font-size: 25px;
    font-weight: 1500;
    /* color: white; */
    /* border: 1px solid white; */
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    opacity: 60%;
    transition: 0.5s
}

.sliderButton button:hover {
    opacity: 100%;
}

.sliderButton button:first-child {
    margin-right: 16px;
}

@media (min-width: 800px) {
    .sliderBox {
        width: 1700px;
    }

    .sliderImage__description {
        font-size: 18px;
        height: 150px;
        box-sizing: border-box;
        line-height: 22px;
    }

    .sliderImage__description p {
        font-size: 25px;
    }

    .sliderButton button {
        width: 60px;
        height: 60px;
        font-size: 35px;
        /* border-width: 5px; */
    }
}