.application-block {
    background-repeat: no-repeat;
    background-size: 300%;
    background-position-y: bottom;
    background-position-x: 35%;
    /* background-image: linear-gradient(to top, rgb(0, 0, 0) 5%, transparent 30%, rgb(253, 253, 253) 50%), 
    url(./image/application-background.png); */
    background-image: url(./image/application-background1.png);
}

.application-block__title p {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #212121;
    margin: 0;
    padding: 0;
}

.application-block__title div {
    display: none;
}

.application-block__img {
    height: 214px;
    margin: 0;
    padding: 0;
}

.application-block__form-email__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    padding: 0;
    margin: 9px 0;
}

.application-block__form-email__paragraf {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.application-block__form-email__input {
    margin: 0;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #999999;
    width: 100%;
    background: transparent;
}

.application-block__form-email {
    margin-top: 251px;
}

.application-block__form__button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #F47648;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
    margin: 0;
    margin-top: 24px;
    transition: all 0.5s;
}

.application-block__form__button:hover {
    filter: saturate(180%)
}

@media (min-width: 600px) {
    .application-block {
        background-size: 100%;
    }
    .application-block__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .application-block__title p {
        font-size: 36px;
        line-height: 48px;
    }

    .application-block__title div {
        display: block;
    }

    .application-block__form-email {
        margin-top: 157px;
        width: 100%;
        display: flex;
        height: 310px;
        position: relative;
    }

    .application-block__img {
        height: 332px;
    }

    .application-block__form-email>div {
        width: 500px;
    }

    .application-block__form-email__input {
        width: 250px;
    }

    .application-block__form-email button {
        display: inline;
        margin-left: 25px;
    }

    .application-block__form__button {
        width: 179px;
    }

}

@media (min-width: 800px) {
    .application-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .application-block__title {
        width: 45%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .application-block__form-email {
        margin-top: 262px;
        justify-content: space-between;
    }

    .application-block__form-email>div {
        width: calc(100% - 332px - 30px)
    }

    .application-block__form-email__input {
        width: calc(100% - 179px - 30px);
        min-width: 250px;
    }

}