.first-day {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-image: linear-gradient(to top, transparent 80%, rgb(0, 0, 0) 99%), url(./image/background_first_day.jpg);
}

.first-day__content {
    width: 100%;
}

.first-day-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.first-day-text p span {
    color: #ffffff;
}

.first-day__cloud {
    position: relative;
    width: calc(100% + 32px);
    height: auto;
    bottom: -47px;
    left: -16px;
}

@media (min-width: 600px) {
    .first-day__cloud {
        width: calc(100% + 80px);
        bottom: -69px;
        left: -40px;
    }
}

@media (min-width: 900px) {
    .first-day__content {
        display: flex;
        justify-content: space-between;
    }

    .first-day-text {
        display: flex;
        box-sizing: border-box;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        width: 40%;
        min-width: 380px;
        gap: 20px;
    }

    .first-day-text h2 {
        min-width: 500px;
    }

    .first-day-slider {
        display: flex;
        align-items: center;
        width: 50%;
    }

    .first-day__cloud {
        width: calc(100% + 12%);
        bottom: -85px;
        left: -6%;
    }
}