.first-day {
    padding-bottom: 17vh;
    background-image: url(./image/background_first_day.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.first-day-text {
    width: 100%;
    min-width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.first-day-text p {  
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}

.first-day-text p span {
    color: #ffffff;
}

@media (min-width: 600px) {
   .first-day {
    padding-bottom: 25vh;
   }
}

@media (min-width: 800px) {

    .first-day {
        display: flex;
        justify-content: space-between;
        /* height: 160vh; */
        /* min-height: 900px; */
        padding-bottom: 50vh;
        /* height: max(900px, 160vh); */
    }

    .first-day-text {
        display: flex;
        box-sizing: border-box;
        align-content: space-between;
        justify-content: space-between;
        flex-direction: column;
        width: 40%;
        min-width: 380px;
        gap: 20px;
    }

    .first-day-text h2 {
        min-width: 500px;
    }

    .first-day-text p {
        /* padding: 0px;
        margin: 0px; */
    }

    .first-day-slider {
        display: flex;
        align-items: center;
        width: 50%;
    }
}