.second-day {
    /* height: auto; */
}

.second-day-text {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.second-day-mountain {
    width: 100vw;
    position: relative;
    right: -16px;
    z-index: 100;
    float: right;
    shape-outside: url(./image/second-day-mountain.png);
}

.second-day-cloud{
    position: absolute;
    left: -16px;
    width: 150%;
    bottom: 99%;
    z-index: 10;
}

.second-day-cloud img {
    width: 100%;
}

@media (min-width: 600px) {
    /* .second-day-text p:nth-child(-n+3) {
        width: 70%;
    }

    .second-day-text p:nth-child(5) {
        width: 45%;
    } */

    .second-day-cloud {
        width: 105%;
    }

    .second-day-mountain {
        width: 60%;
        right: -40px;
    }

}

@media (min-width: 800px) {
    .second-day {
        /* height: 100vh; */
        /* min-height: 870px; */
        height: max(900px, 90vh);
        /* box-sizing: border-box; */
        /* min-height: 850px; */
        /* height: max(800px, 100vh) */
        /* box-sizing: content-box; */
        
    }

    .second-day-text {
        height: 100%;
        box-sizing: border-box;
        display: grid;
        /* gap: 20px; */
        /* justify-content: space-between; */
        /* align-content: space-between; */
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .second-day-text h2 {
        grid-row: 1 ;
        grid-column: 1;
        max-width: 750px;
    }

    .second-day-p-top {
        grid-row: 2 ;
        grid-column: 1;
        max-width: 500px;
    }

    .second-day-mountain {
        width: 100%;
        /* max-width: 900px; */
        /* bottom: -10%; */
        right: 0vw;
        z-index: -1;
        grid-row: 1 / span 2 ;
        grid-column: 2;
    }

    .second-day-slider {
        align-self: center;
        justify-self: end;
        grid-row: 3 ;
        grid-column: 1;
        overflow: hidden;
        min-height: 360px;
    }

    .second-day-p-bottom {
        grid-row: 3 ;
        grid-column: 2;
        align-self: start;
        justify-content: flex-end;
        padding-left: 35px;
        padding-top: 40px;
    }

    .second-day-cloud{
        left: 0px;
        z-index: 1;
    }

    .second-day-p-top, .second-day-p-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
    }



}