.third-day {
    background-image: url(./image/third-day-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.third-day-background img {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.third-day-text h2 {
    color: #212121;
}

.third-day-slider {
    margin-top: 48px;
}

/* .third-day-text p {
    font-style: normal;
    font-weight: 400;
    color: #212121;
} */

@media (min-width: 800px) {
    .third-day {
        /* height: max(700px, 100vh); */
        display: flex;
        justify-content: space-between;
    }

    .third-day-text {
        min-width: 400px;
        width: 45%;
        order: 1;
        box-sizing: border-box;
    }

    .third-day-slider {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        margin-top: 50px;
    }
}