.eighth-day {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 30%, transparent 65%, rgb(253, 253, 253) 99%), url(./image/eighth-day-background.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 600px) {
    .eighth-day h2, .eighth-day p{
        width: 40%;
        height: auto;
    }
}