.application-block__form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.application-block__form__input label {
    width: 100%;
    height: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.application-block__form-title{
    width: 100%;
    margin: 30px 0 10px 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}

.application-block__form-input {
    margin: 0;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #212121;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #999999;
    width: 100%;
    background: transparent;
}

.application-block__form__radio label{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 24px 0;
    text-align: start;
}

.application-block__form__radio>p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #212121;
}

.application-block__form__radio input {
    border: 2px solid #275553;
    border-radius: 50%;
    font-size: 100px;
    color: #275553;
    width: 20px;
    height: 20px;
}

.application-block__form__radio label p {
    margin: 0;
    padding: 4px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.application-block__form__radio label p:last-of-type {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.application-block__form__button {
    width: 100%;
    height: 40px;
    background: #F47648;
    border-radius: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
    margin: 0;
    margin-top: 24px;
}

@media (min-width: 600px) {
    .application-block__form__input {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .application-block__form__input label {
        width: 40%;
    }

    .application-block__form__radio label div{
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }

    .application-block__form__comment input{
        width: 100%;
    }

    .application-block__form__button {
        width: 179px;
    }

    .application-block__form button {
        position: relative;
        right: calc(-100% + 179px);
    }
}

@media (min-width: 800px) {
    .application-block__form {
        width: 45%;
    }
}