.page {
    width: 100%;
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    z-index: 0;
}

.Container {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 42px 16px;
    text-align: left;
}

.Text-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0px 0px 14px 0px;
    padding: 0px;
}

.Text-title span{
    color: #F47648;
}

.Text-pharagraf {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    padding: 10px 0px;
    text-align: justify;
}

.Text-color-white {
    color: white;
}
.Text-color-black {
    color: #212121;
}

/* .Text-color-black {
    color: #121212;
} */
.Text-color-grey {
    color: #ACACAC;
}
.Text-color-dark-grey {
    color: #313131;
}

.Links {
    cursor: pointer;
    transition: 0.7s;
    
}

.Links:hover {
    color: #F47648;
    
}

.Cursor-Pointer {
    cursor: pointer;
}

.Title-Big {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    max-width: 960px;
    padding: 0px;
    margin: 0 0 59px 0;
}

@media (min-width: 600px) {
    .Container {
        padding: 64px 40px;
    }

    .Text-title {
        margin: 0px 0px 22px 0px;
    }

}

@media (min-width: 900px) {
    .Container {
        padding: 80px 5%;
    }

    .Text-pharagraf {
        font-size: 20px;
        line-height: 32px;
    }

}
