.prise-block__line {
    position: absolute;
    width: calc(100% - 32px);
    size: 10;
    color: #212121;
    left: 16px;
    bottom: 0px;
}

.prise-block__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #121212;
    margin: 0;
    padding: 0;
}

.prise-block__rite__point {
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #313131;
    box-sizing: border-box;
}

.prise-block__rite__point p {
    margin: 4px 0;
    padding: 0;
}

.prise-block__rite__point p:nth-child(2) {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}

.prise-block__send-request {
    height: 70px;
    width: 230px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 60px 0;
}

.prise-block__send-request a {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #212121;
}

.prise-block__description p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #275553;
    margin: 0;
}

.prise-block li {
    margin: 16px 0 16px 16px;
}

.prise-block__addition p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 0;
    margin: 53px 0 0 0;
}

.prise-block__useful-links a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #f47648;
    margin: 24px 0;
}

.first-screen__link {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 150px;
    width: 250px;
    position: relative;
}

.black-arrow {
    opacity: 1;
}

.prise-block__send-request:hover .black-arrow {
    opacity: 0;
}

.orange-arrow {
    opacity: 0;
}

.prise-block__send-request:hover .orange-arrow {
    opacity: 1;
}

.orange-arrow, .black-arrow {
    position: absolute;
    right: 0px;
    width: 70px;
    height: auto;
}

@media (min-width: 600px) {
    .prise-block {
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* grid-template-rows: 1fr 3fr 3fr; */
        grid-template-rows: auto auto auto;
    }
    .prise-block__title {
        font-size: 64px;
        line-height: 72px;
        text-align: center;
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .prise-block__rite {
        grid-row: 2;
        grid-column: 1 / span 2;
    }

    .prise-block__rite__point {
        height: 96px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .prise-block__rite__point:last-of-type {
        border-bottom: none;
    }

    .prise-block__send-request {
        margin: 0;
        grid-row: 3;
        grid-column: 2;
        align-self: end;
        justify-self: end;
        margin-bottom: 7px;
    }

    .prise-block__description {
        margin-top: 40px;
        padding-right: 140px;
        grid-row: 3;
        grid-column: 1;
    }

    .prise-block__addition {
        grid-row: 6;
        grid-column: 1;
        padding-right: 40px;
    }

    .prise-block__useful-links {
        margin-top: 40px;
        grid-row: 3;
        grid-column: 2;
        justify-self: end;
        width: 230px;
    }

    .prise-block__useful-links a {
        margin-top: 0;
    }

    .prise-block__line {
        width: calc(100% - 80px);
        left: 40px;
    }
}

@media (min-width: 800px) {
    .prise-block {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
        row-gap: 40px;
        justify-content: space-between;
        align-content: space-between;
    }

    .prise-block__title {
        text-align: left;
    }

    .prise-block__rite {
        text-align: left;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column: 1 / span 2;
    }

    .prise-block__send-request {
        grid-row: 2;
        grid-column: 3;
        margin-bottom: 15px;
    }

    .prise-block__description {
        margin-top: 0;
        padding-right: 0;
        grid-row: 3;
        grid-column: 1;
    }

    .prise-block__addition {
        margin-top: 0;
        grid-row: 3;
        grid-column: 2;
    }

    .prise-block__useful-links {
        margin-top: 40px;
        grid-row: 2;
        grid-column: 3;
    }

    .prise-block__line {
        width: 90%;
        left: 5%;
    }

    .prise-block__addition p {
        margin: 0px 0px 0px 0px;
    }
}
