.slider {
    position: relative;
    /* left: 736px; */
    /* margin-top: 44px; */
}

.sliderBox {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sliderImage {
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.sliderImage img {
    height: 100%;
}

.sliderBox div:first-child {
    width: 360px;
    height: 360px;
}

.sliderButton {
    margin-top: 20px;
    width: 100%;
}

.sliderButton button {
    width: 38px;
    height: 38px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.sliderButton button:first-child {
    margin-right: 16px;
}